body {
    text-align: center;
    background-color: #000000;
    color: #faeBD7;
}
h1 {
 margin-top: 40px;
 margin-bottom: 30px;
}

button {
    width: 60px;
    height: 60px;
    margin: 10px;
    font-weight: bold;
}


#outputBox {
    margin-top: 20px;
}

#innerBox {
    display: none;
    background-color: rgb(85, 85, 85);
    width: 24%;
    height: auto;
    margin: auto;
    padding: 20px;
    font-size: 30px;
}

#one {
    background-color: #801515;
}

#two {
    background-color: #0D4D4D;
}

#three {
    background-color: #116611;
}

#four {
    background-color: #804515;
}

#five {
    background-color: #591717;
}

#six {
    background-color: #0E3636;
}

#seven {
    background-color: #124812;
}

#eight {
    background-color: #593517;
}

#nine {
    background-color: #550000;
}

#ten {
    background-color: #003333;
}

#eleven {
    background-color: #004400;
}

#twelve {
    background-color: #552700;
}

@media only screen and (max-width: 740px) {
    #buttonBox {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: center;
        width: 90%;
        margin: auto;
    }

    #innerBox {
        display: none;
        background-color: rgb(85, 85, 85);
        width: 65%;
        height: auto;
        margin: auto;
        padding: 20px;
        font-size: 30px;
    }
}
